#cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
  color: #adfeff;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.center {
  margin: auto; width: 18%; margin-top: 19%; height: 200px; text-align: center;
  overflow-block: hidden;
}

.welcome {
  font-size: 120px; color: white; box-shadow: 0px 25px 10px -10px white;
  opacity: 0.9;
}

.welcome span:hover {
  transform: scale(1.2);
  position: relative;
  display: inline-block;
}
