body {
  overflow-x: hidden;
}

#cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
  color: #adfeff;
}

.mainbody {
  height: 100vh;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

.links {
  font-size: 20px; 
  color: white;
  opacity: 0.9;
  margin-top: 20%;
}

.center {
  width: 18%; 
  margin-left: 41%; 
  margin-top: 12%; 
  height: 200px; 
  text-align: center;
  overflow-block: hidden;
  position: absolute;
}

.welcome {
  font-size: 180px; 
  color: white; 
  /*box-shadow: 0px 25px 10px -10px white; */
  opacity: 0.9;
  margin-bottom: 0;
}

.welcome span:hover {
  transform: scale(1.2);
  position: relative; /*可有可无*/
  display: inline-block; /*critical*/
}

